// ==========================================================================
// MIXINS - Grid and Containers
// ==========================================================================

@mixin container {
	padding: 1em 15px;
	margin-left: auto;
	margin-right: auto;

	@include min-width($mobile-threshold) {
		padding: 1em 30px;
	}

	@include min-width($tablet-threshold) {
		margin-left: auto;
		margin-right: auto;
		padding: 1em 50px;
		max-width: none;
	}
}
