// ==========================================================================
// MIXIN - Button
// ==========================================================================

@mixin paragraph {
	font: 400 rem(16) $font-family-default;
	margin-bottom: 1em;
	color: $black;
	@include min-width($mobile-threshold) {
		font-size: rem(16);
	}
	@include min-width($tablet-threshold) {
		font-size: rem(18);
	}
}

@mixin list {
	li {
		display: flex;
		align-items: center;
		font: 500 rem(17) $font-family-default;
		color: $black;
		padding: 0.3em 0;
		&:before {
			content: '';
			display: block;
			background-color: $black;
			border-radius: rem(10);
			width: rem(20);
			height: rem(2);
			margin-right: 1em;
		}
	}
}
