// ==========================================================================
// BASE - Helper classes
// ==========================================================================

.hidden {
	display: none;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.invisible {
	visibility: hidden;
}

.-table {
	display: table;
}

.-flex {
	display: flex;
}

// - - - Hides the text in the span for accessibility purpose - - -
@mixin text-hidden {
	span {
		font-size: 0;
	}
}

.text-hidden {
	@include text-hidden;
}

// - - - Display only on mobile - - -
.hide-on-desktop {
	@include desktop-only {
		display: none;
	}
}

// - - - Display only on desktop - - -
.hide-on-mobile {
	@include mobile-only {
		display: none;
	}
}
