// ==========================================================================
// BASE - Titles
// ==========================================================================

// Style mixins
// ==========================================================================
// proxima-nova light:300, regular:400, semibold:600, bold:700
@mixin title-1 {
	font: 700 rem(28) / 1.2 $font-family-default;
	color: $black;
	margin: 0 0 0.2em 0;
	display: flex;

	@include min-width($mobile-threshold) {
		margin: 0 0 0.5em 0;
		font-size: rem(60);
	}
	@include min-width($tablet-threshold) {
		margin: 0 0 0.5em 0;
		font-size: rem(80);
	}
}

@mixin title-2 {
	font: 700 rem(20) $font-family-default;
	color: $black;
	margin: 0.5em 0 0.5em;
	display: flex;

	@include min-width($mobile-threshold) {
		margin: 0 0 1em 0;
		font-size: rem(40);
	}
	@include min-width($tablet-threshold) {
		margin: 0 0 1em 0;
		font-size: rem(50);
	}
}

@mixin title-3 {
	font: 600 rem(20) $font-family-default;
	color: $black;
	margin: 0.5em 0 0.5em;

	@include min-width($mobile-threshold) {
		margin: 0 0 1em 0;
		font-size: rem(35);
	}
	@include min-width($tablet-threshold) {
		margin: 0 0 1em 0;
		font-size: rem(40);
	}
}

@mixin title-4 {
	font: 600 rem(18) $font-family-default;
	margin: 1.5em 0 0.5em;

	@include min-width($mobile-threshold) {
		font-weight: 700;
		margin: 0 0 1em 0;
		font-size: rem(30);
	}
	@include min-width($tablet-threshold) {
		margin: 0 0 1em 0;
		font-weight: 700;
		font-size: rem(30);
	}
}

@mixin title-5 {
	font: 700 rem(17) $font-family-default;
	margin: 1.5em 0 0.5em;

	@include min-width($mobile-threshold) {
		font-weight: 600;
		margin: 0 0 1em 0;
		font-size: rem(25);
	}
	@include min-width($tablet-threshold) {
		margin: 0 0 1em 0;
		font-weight: 700;
		font-size: rem(25);
	}
}

@mixin title-6 {
	font: 600 rem(16) $font-family-default;
	margin: 1.5em 0 0.5em;

	@include min-width($mobile-threshold) {
		margin: 0 0 1em 0;
		font-size: rem(23);
	}
	@include min-width($tablet-threshold) {
		margin: 0 0 1em 0;
		font-size: rem(25);
	}
}

// Classes & Selectors
// ==========================================================================

h1,
.title-1 {
	@include title-1;
}

h2,
.title-2 {
	@include title-2;
}

h3,
.title-3 {
	@include title-3;
}

h4,
.title-4 {
	@include title-4;
}

h5,
.title-5 {
	@include title-5;
}

h6,
.title-6 {
	@include title-6;
}
