// ==========================================================================
// BASE - Typography
// ==========================================================================

body {
	font: 500 rem($function-size-default) / #{$line-height-default} $font-family-default;
	color: $text-color-default;
}

p,
.paragraph {
	@include paragraph;
}

.list {
	@include list;
}
// Highlight color
::selection {
	border: 0;
	text-shadow: none;
	outline: none;
	background-color: rgb(218, 218, 218);
}
